{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

<script>
function updateOrder(id, val) {
    $.post("/updateOrder", {orderid: id, orderStatus: val});
};
</script>
<body>
<!-- START OF MAIN PAGE -->
    <div data-role="page" class="ui-content" id="mainpage">
        <div data-role="header" class="ui-bar" id="main">
            <h1>Driver Orders</h1>
        </div>

        <a href="#weather" class="ui-btn ui-btn-inline" id="weathere">Check Weather</a>
        {{dump(orders)}}
        <div role="content" class="ui-content">
                {% for order in orders %}
                <div class="ui-field-contain">
                    <h4>Order No. {{ order.id}}</h4>
                    <table data-role="table" id="order{{order.id}}" class="ui-responsive table-stroke">
                        <thead>
                            <tr>
                                <th>Order ID</th>
                                <th>Delivery Address</th>
                                <th>Order Amount</th>
                                <th data-priority="1">Order Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="orderID">{{ order.id }}</td>
                                <td>{{ order.orderaddress }}</td>
                                <td>{{ order.amount }}</td>
                                <td>
                                    <select name="status" id="statusselect" orderNo="{{order.id}}" class="orderstatus">
                                        <option {% if order.orderstatus == "submitted" %} selected="selected" {% endif %} value="submitted" id="submitted">Order Submitted</option>
                                        <option {% if order.orderstatus == "outfordelivery" %} selected="selected" {% endif %} value="outfordelivery" id="outfordelivery">Out for Delivery</option>
                                        <option {% if order.orderstatus == "delivered" %} selected="selected" {% endif %} value="delivered" id="delivered">Delivered</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                </div>
                {% endfor %}
        </div>
    </div>
<!-- END OF MAIN PAGE -->
    <script>
        $('[id^="statusselect"]').change(function () {
            var orderid = $(this).attr('orderNo');
            var orderStatus = $(this).children("option:selected").val();
            
            alert("You have selected value from order no. " + orderid + " with status of " + orderStatus);      
            updateOrder(orderid, orderStatus);
        });
    </script>

<!-- START OF WEATHER PAGE -->
    <div data-role="page" id="weather" class="ui-content">
        <div data-role="header" class="ui-bar" id="main">
            <h1>Driver Orders</h1>
        </div>
    
        <div id="currentweather">
            <h1 id="temp"></h1>
            <h1 id="icywarning"></h1>
            <h2 id="roadsarefine"></h2q>
        </div>
    </div>
<!-- END OF WEATHER PAGE -->
    <script>
        var x = document.getElementById('location');
        console.log(x);
        window.onload = getLocation();
        // function getLocation() {
        //     if (navigator.geolocation) {
        //         navigator.geolocation.getCurrentPosition(showPosition);
        //     } else {
        //         x.innerHTML = "Geolocation is not supported.";
        //     }
        // }

        // function showPosition(position) {
        //     console.log(position.coords.latitude)
        //     console.log(position.coords.longitude);
        //     var lat = position.coords.latitude;
        //     var long = position.coords.longitude;
        //     x.innerHTML = "Latitude: " + lat + "<br> Longitude: " + long;
        // }
        function getForecast(latitude, longitude) {
                var api = '6dcf3a0482116df90e2b3c88cee44e8f';

                $.ajax({
                    url: 'http://api.openweathermap.org/data/2.5/weather?lat=' + latitude + '&lon=' + longitude + '&units=metric&' + 'appid=' + api,
                    method: 'GET',

                    success: function (data) {
                        var tempr = data.main.temp;
                        var location = data.name;
                        var country = data.sys.country;
                        console.log(tempr);
                        console.log(location);
                        $('#temp').text("It's currently " + tempr + '°C at your location (' + location + ', ' + country + ')');

                        if (tempr <= 2) {
                            $('#icywarning').text("ICE WARNING - BE CAREFUL ON THE ROADS");
                        } else {
                            $('#roadsarefine').text("The roads aren't icy. Drive safe.");
                        }
                    }
                });
            }

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                x.innerHTML = "Geolocation is not supported.";
            }
        }

        function showPosition(position) {
            console.log(position.coords.latitude)
            console.log(position.coords.longitude);
            var lat = position.coords.latitude;
            var long = position.coords.longitude;
            getForecast(lat, long);
        }

        
        </script>
    
    </body>

{% endblock %}